body{
    font-family: sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgba(0, 94, 255, 0.803);
    border-radius: 16px;
    color: aliceblue;
}
.container,
.container input{
    text-align: center;
}
input{
    border-radius: 8px;
    padding: 8px;
    font-size: 12pt;
}
.text{
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 94, 255, 0.803);
    border-radius: 16px;
    padding: 16px;
}
hr{
    margin: 16px 0px;
}
.board{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: auto;
}
.keyboard{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
    height: auto;
    width: 40%;
    row-gap: 8px;
}
.keypath{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    color: #1d1d1d;
    background-color: lightgray;
    box-shadow: 2px 4px 0px 0px rgba(0,0,0,0.80);
    border-radius: 8px;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    row-gap: 16px;
}
.action-button{
    height: 40px;
    width: 100px;
    background-color: aqua;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
